* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --text-color: #eee;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--text-color);
}

.nav-container {
  display: flex;
}

.nav-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container li {
  margin: 0 2rem;
}

.nav-container a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-container a:hover {
  color: var(--secondaryColor);
}

.nav-container a.active {
  color: var(--text-color);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  .nav-container,
  .nav-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav-container li {
    margin-bottom: 2rem;
  }

  .nav-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
